*{
	margin: 0;
	padding: 0;
}
main, header{
	margin: 5vh 10vw;
}
header{
	display: flex;
	justify-content: space-between;
}
#cart-button{
	background: none;
	border: none;
	border-radius: 50%;
	padding: 10px 5px;
	border: 1px solid black;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}
#cart-button img{
	max-width: 32px;
	max-height: 32px;
}
#cart{
	position: relative;
}
#cart-button:hover{
	border: 4px solid orange;
}